<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">
			Estadisticas
		</h3>
	</div>

	<div class="panel-body">
		<div class="row">
			<div class="col-md-4 text-left">Imagenes: </div>
			<div class="col-md-8 text-right">
				{{sidebar.stats.images}}
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 text-left">Comentarios:</div>
			<div class="col-md-8 text-right">
				{{sidebar.stats.comments}}
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 text-left">Visto:</div>
			<div class="col-md-8 text-right">
				{{sidebar.stats.views}}
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 text-left">Me gusta:</div>
			<div class="col-md-8 text-right">
				{{sidebar.stats.likes}}
			</div>
		</div>
	</div>
</div>
